@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*! Home Start */

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-image: url(./img/homeBackground.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-bottom: 35%;
  margin-top: 20%;
}
.HomeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeButtons__Btn {
  background-color: #f1bc00;
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1843137254901961);
  width: 24rem;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-bottom: 30%;
}

/*! Home End */

/*? ProductsNavbar Start */
.productsHome {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-color: #f2f2f2;
  /*overflow-y: hidden;*/
  font-family: "Barlow Condensed", sans-serif;
}
.productsNavbar__logoSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
}
.logoSection__logo {
  width: 80%;
}
.logoSection__textSpan {
  font-size: 2.4rem;
  width: 100%;
  padding-left: 2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
.productsNavbar__closeBtn,
.popUpCard__closeBtn {
  position: relative;
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: 2.5rem;
  margin-right: -0.5rem;
}
.productsNavbar__closeBtn__line1,
.productsNavbar__closeBtn__line2,
.popUpCard__closeBtn__line1,
.popUpCard__closeBtn__line2 {
  width: 0.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  display: inline-block;
  height: 2.5rem;
}
.productsNavbar__closeBtn__line1,
.popUpCard__closeBtn__line1 {
  transform: rotate(45deg);
}
.productsNavbar__closeBtn__line2,
.popUpCard__closeBtn__line2 {
  transform: rotate(-45deg);
}
.productsNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
/*? ProductsNavbar End */

/*! ProductsMain Start */

.productsMain {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}
.productsMain__sideBar {
  grid-column: 1 / 3;
  padding-top: 6rem;
  height: 60%;
}
.productsMain__dealSide {
  grid-column: 3 / 8;
}
.dealSide__heading,
.customize__heading {
  font-size: 2.25rem;
}
.sideBar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}
.sideBar__list__listItem {
  font-size: 2.25rem;
  font-weight: bold;
  background-color: #fff;
  display: inline-block;
  width: 12rem;
  padding: 1rem;
  padding-left: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 1px 2.5px 5px rgba(36, 65, 93, 0.30196078431372547);
}
.sideBar__list a {
  text-decoration: none;
  color: #000;
}
.sweetListItem {
  color: #ff9d00;
}
.vegansListItem {
  color: #339b11;
}
.activeListItem {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #f1bc00;
}
.sweetListItem.activeListItem,
.vegansListItem.activeListItem {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: #000;
}
.sweetListItem.activeListItem {
  background-color: #ff9d00;
}
.vegansListItem.activeListItem {
  background-color: #339b11;
}

.dealSide__valentineBanner {
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.30196078431372547);
}

.dealSide__popularItems {
  display: flex;
}
.sweetProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  overflow-y: scroll;
  max-height: 90%;
  padding: 1rem;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  height: 82rem;
}
.popularItems__leftCard {
  margin-right: 2rem;
}
.popularItems__leftCard,
.popularItems__rightCard,
.sweetProducts__leftCard,
.sweetProducts__rightCard {
  position: relative;
  border-radius: 1.8rem;
  width: 18.75rem;
  height: 18.125rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.30196078431372547);
}
.sweetProducts__leftCard,
.sweetProducts__rightCard {
  margin-bottom: 2.2rem;
}
.popularItems__priceCircle,
.popularItems__mealName,
.healthyMeals__priceCircle,
.sweetProducts__priceCircle,
.sweetProducts__mealName {
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.popularItems__priceCircle,
.sweetProducts__priceCircle {
  top: 5%;
  right: -20%;
}
.popularItems__mealName,
.sweetProducts__mealName {
  bottom: -10%;
  left: 50%;
  font-size: 2rem;
  text-align: center;
}
.sweetProducts__mealName {
  bottom: -3rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popularItems__priceCircle,
.healthyMeals__priceCircle,
.sweetProducts__priceCircle {
  background-color: #f1bc00;
  padding: 1.25rem 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
.healthyMeals__priceCircle {
  top: 5%;
  position: absolute;
  right: -7%;
}
.healthyMeals {
  margin-top: -1.5rem;
  background-color: #fff;
  height: 26.5rem;
  border-radius: 2rem;
  width: 40.5rem;
  position: relative;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.healthyMeals__heading {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -3.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.basket {
  background-color: #fff;
  border-radius: 5rem;
  width: 82%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 3rem;
}
.basket__total {
  position: relative;
}
.basket__itemName {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
}
.basket__total {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  text-align: center;
  width: 15rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-right: 1rem;
}
.basket__total__price {
  margin: 0;
}
.basket__total__notification {
  position: absolute;
  top: -50%;
  right: -5%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f20000;
  padding: 0.3rem 1rem;
  border-radius: 50%;
}

/*! ProductsMain End */

.popUpCard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 24%;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.popUpCard__Img {
  width: 35rem;
  margin: 0 auto;
  padding-top: 1rem;
}
.popUpCard__heading,
.popUpCard__itemPrice {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}
.popUpCard__itemPrice {
  margin-bottom: 1.5rem;
}
.popUpCard__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popUpCard__text {
  font-size: 1rem;
  width: 70%;
  margin: 0 auto;
}
.buttons__addOrder,
.buttons__customize {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 13rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 3rem;
  margin-bottom: 1rem;
}
.buttons__addOrder {
  background-color: #f1bc00;
}
.buttons__customize {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.popUpCard__closeBtn {
  position: absolute;
  top: -8%;
  right: -3%;
}

/*? Customize Section start */

.removeListItem {
  color: #eb0000;
}
.customizeProducts {
  margin-right: 5rem;
  min-height: 75rem;
  max-height: 75rem;
  width: 99%;
  overflow-y: scroll;
}
.customizeProducts__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
  padding: 1rem;
  width: 80%;
  position: relative;
  border: none;
  margin-bottom: 1rem;
}

.customizeProducts__text,
.customizeProducts__price {
  margin: 0.5rem;
  font-size: 1.25rem;
}
.customizeProducts__price {
  font-weight: bold;
}
.customizeProducts__checkBox,
.customizeProducts__circle,
.removeProducts__checkBox,
.removeProducts__circle {
  position: absolute;
  top: 5%;
  right: 8%;
}
.customizeProducts__checkBox,
.removeProducts__checkBox {
  display: none;
}
.customizeProducts__checkBox ~ .customizeProducts__circle,
.removeProducts__checkBox ~ .removeProducts__circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000;
}
.customizeProducts__checkBox:checked ~ .customizeProducts__circle {
  background-color: #ffbb29;
}
.removeProducts__checkBox:checked ~ .removeProducts__circle {
  background-color: #d82e20;
}
.extraProtein,
.saladsVegs,
.potatoSection,
.removeSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5rem;
}

.customize__heading {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.customizeButtons,
.removeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.customizeButtons__save,
.customizeButtons__cancel,
.removeButtons__addBasket,
.removeButtons__cancel {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #000;
  width: 50%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.customizeButtons__save,
.removeButtons__addBasket {
  background-color: #f1bc00;
  border: none;
}
.customizeButtons__cancel,
.removeButtons__cancel {
  background-color: #fff;
}
.activeRemoveItem {
  background-color: #eb0000;
  color: #fff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nonActiveListItem {
  background-color: #fff;
}
