@font-face {
  font-family: "DINCondensedBold";
  src: url("./fonts/DINCondensedBold.ttf") format("opentype");
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf") format("opentype");
}
@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelvaticaLight.ttf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelvaticaNeue.ttf") format("opentype");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("./fonts/HelveticaBold.ttf") format("opentype");
}
/*! Home Start */

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-image: url(./img/homeBackground.png);
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-bottom: 35%;
  margin-top: 20%;
}
.HomeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeButtons__Btn {
  background-color: #f1bc00;
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  font-family: "DINCondensedBold";
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1843137254901961);
  width: 24rem;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  margin-bottom: 30%;
}

/*! Home End */

/*? header Start */
.productsHome {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-color: #f2f2f2;
  /*overflow-y: hidden;*/
  font-family: "DINCondensedBold";
}
.header__logoSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
}
.logoSection__logo {
  width: 15.625rem;
}
.logoSection__breadcrumb {
  font-size: 2.4rem;
  width: 100%;
  padding-left: 2rem;
  letter-spacing: 0.15rem;
  font-family: "DINCondensedBold";
}
.header__closeBtn,
.popUpCard__closeBtn {
  position: relative;
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: 2.5rem;
  margin-right: -0.5rem;
}
.header__closeBtn__line1,
.header__closeBtn__line2,
.popUpCard__closeBtn__line1,
.popUpCard__closeBtn__line2 {
  width: 0.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  display: inline-block;
  height: 2.5rem;
}
.header__closeBtn__line1,
.popUpCard__closeBtn__line1 {
  transform: rotate(45deg);
}
.header__closeBtn__line2,
.popUpCard__closeBtn__line2 {
  transform: rotate(-45deg);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
/*? header End */

/*! main Start */

.main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}
.main__sideBar,
.connectedNavbar {
  grid-column: 1 / 3;
  padding-top: 6rem;
  height: 60%;
}
.main__dealSide {
  grid-column: 3 / 8;
}

.sectionHeading {
  font-size: 2.25rem;
}
.sideBar__list,
.connectedNavbar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}
.sideBar__list__listItem,
.connectedNavbar__list__listItem {
  font-size: 2.25rem;
  font-weight: bold;
  background-color: #fff;
  display: inline-block;
  width: 12rem;
  padding: 1rem;
  padding-left: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 1px 2.5px 5px rgba(36, 65, 93, 0.3);
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
}
.connectedNavbar__list__listItem {
  margin-bottom: 0.25rem;
  color: #adadad;
}
.connectedNavbar__list__listItem.activeListItem {
  color: #000;
}
.sideBar__list a,
.connectedNavbar__list a {
  text-decoration: none;
  color: #000;
}
.sweetListItem {
  color: #ff9d00;
}
.vegansListItem {
  color: #339b11;
}
.activeListItem {
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
  background-color: #f1bc00;
}
.sweetListItem.activeListItem,
.vegansListItem.activeListItem {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: #000;
}
.sweetListItem.activeListItem {
  background-color: #ff9d00;
}
.vegansListItem.activeListItem {
  background-color: #339b11;
}

.cardWithImage {
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.cardWithImgContainer {
  position: relative;
  padding-top: 7rem;
}
.sectionHeading.cardText {
  position: absolute;
  top: 8rem;
  left: 6.5rem;
  transform: translate(-50%, -50%);
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 3rem;
}
.scrollProductContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  max-height: 90%;
  padding: 1rem;
  margin-top: 7rem;
  padding-top: 0rem;
  padding-left: 0;
  padding-right: 2rem;
  height: 76rem;
  justify-items: center;
}

.productContainer__card,
.scrollProductContainer__card {
  position: relative;
  border-radius: 1.8rem;
  width: 18.75rem;
  height: 18.125rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
  margin-top: 1.5rem;
}
.scrollProductContainer__card {
  margin-bottom: 2.2rem;
}
.productContainer__card__priceCircle,
.productContainer__card__mealName,
.cardWithText__priceCircle,
.scrollProductContainer__priceCircle,
.scrollProductContainer__mealName {
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.productContainer__card__priceCircle,
.scrollProductContainer__priceCircle {
  top: 5%;
  right: -20%;
}
.productContainer__card__mealName,
.scrollProductContainer__mealName {
  bottom: -15%;
  left: 50%;
  font-size: 2rem;
  text-align: center;
}
.scrollProductContainer__mealName {
  bottom: -3rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productContainer__card__priceCircle,
.cardWithText__priceCircle,
.scrollProductContainer__priceCircle {
  background-color: #f1bc00;
  padding: 1.25rem 0.8rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
.cardWithText__priceCircle {
  top: 3%;
  position: absolute;
  right: -9%;
}
.cardWithText {
  margin-top: -0.5rem;
  background-color: #fff;
  height: 26.5rem;
  border-radius: 2rem;
  width: 40.5rem;
  position: relative;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.cardWithText__Img {
  width: 40.5rem;
  height: 20.5rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cardWithText__heading {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -3.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.basket {
  background-color: #fff;
  border-radius: 5rem;
  width: 82%;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  margin-top: 1.5rem;
  font-family: "HelveticaBold";
}
.basket__total {
  position: relative;
}
.basket__itemName {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 4rem;
}
.basket__total {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  text-align: center;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
}
.basket__total__price {
  margin: 0;
}
.basket__total__notification {
  position: absolute;
  top: -50%;
  right: -5%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f20000;
  padding: 0.3rem 1rem;
  border-radius: 50%;
}

/*! main End */
.popUpOverlay,
.cancelOrderOverlay {
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1080px;
  height: 100vh;
  opacity: 0.8;
}
.popUpCard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 38rem;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.popUpCard__Img {
  width: 35rem;
  margin: 0 auto;
  padding-top: 1rem;
}
.popUpCard__heading,
.popUpCard__itemPrice {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}
.popUpCard__itemPrice {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.popUpCard__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popUpCard__text {
  font-size: 1rem;
  width: 70%;
  margin: 0 auto;
  font-family: "HelveticaLight";
}
.buttons__addOrder,
.buttons__customize {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 13rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-radius: 3rem;
  margin-bottom: 1rem;
  font-family: "Helvetica";
}
.buttons__addOrder {
  background-color: #f1bc00;
}
.buttons__customize {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.popUpCard__closeBtn {
  position: absolute;
  top: -8%;
  right: -3%;
}

/*? Customize Section start */

.removeListItem {
  color: #eb0000;
}
.customizeProducts,
.scrollableContainer {
  margin-right: 5rem;
  min-height: 75rem;
  max-height: 75rem;
  width: 99%;
  overflow-y: scroll;
}
.scrollableContainer {
  margin-top: 4rem;
  max-height: 75rem;
  margin-bottom: 2.75rem;
}
/* tartış */
.customizeProducts__card,
.radioProducts__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
  padding: 1.5rem 1rem;
  width: 80%;
  position: relative;
  border: none;
  margin-bottom: 1.5rem;
  height: 11rem;
}

.customizeProducts__text,
.customizeProducts__price,
.radioProducts__text,
.radioProducts__price {
  margin: 0.5rem;
  font-size: 1.25rem;
  font-family: "HelveticaNeue";
  text-align: center; /* sonradan */
}
.customizeProducts__text,
.customizeProducts__price,
.customizeProducts__checkBox,
.customizeProducts__img,
.radioProducts__text,
.radioProducts__price,
.radioProducts__radioBtn,
.radioProducts__img {
  pointer-events: none;
}
.radioProducts__card.radioActive {
  box-shadow: inset 0px 0px 0px 10px #ffbb29;
}
.radioProducts__card.radioActive .radioProducts__circle {
  background-color: #ffbb29;
}

.customizeProducts__price,
.radioProducts__price {
  font-weight: bold;
}
.customizeProducts__checkBox,
.customizeProducts__circle,
.removeProducts__checkBox,
.removeProducts__circle,
.radioProducts__radioBtn,
.radioProducts__circle {
  position: absolute;
  top: 8%;
  right: 8%;
}
.customizeProducts__checkBox,
.removeProducts__checkBox,
.radioProducts__radioBtn {
  display: none;
}
.customizeProducts__checkBox ~ .customizeProducts__circle,
.removeProducts__checkBox ~ .removeProducts__circle,
.radioProducts__radioBtn ~ .radioProducts__circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000;
}
.customizeProducts__checkBox:checked ~ .customizeProducts__circle,
.radioProducts__radioBtn:checked ~ .radioProducts__circle {
  background-color: #ffbb29;
}

.removeProducts__checkBox:checked ~ .removeProducts__circle {
  background-color: #d82e20;
}

.extraProtein,
.saladsVegs,
.potatoSection,
.removeSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 5rem;
}

.sectionHeading {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.customizeButtons,
.removeButtons,
.viewOrderButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-family: "Helvetica";
}

.customizeButtons__save,
.customizeButtons__cancel,
.removeButtons__addBasket,
.removeButtons__cancel,
.viewOrderButtons__checkOut,
.viewOrderButtons__backToMenu {
  font-size: 1.5rem;
  padding: 1.2rem 1rem;
  border: 1px solid #000;
  width: 25rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 3rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: "HelveticaBold";
}
.customizeButtons__save,
.removeButtons__addBasket,
.viewOrderButtons__checkOut {
  background-color: #f1bc00;
  border: none;
}
.customizeButtons__cancel,
.removeButtons__cancel,
.viewOrderButtons__backToMenu {
  background-color: #fff;
}
.activeRemoveItem {
  background-color: #eb0000;
  color: #fff;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nonActiveListItem {
  background-color: #fff;
}

/** View Order Start */

.viewOrder {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.viewOrder__card {
  display: flex;
  background-color: #fff;
  width: 51rem;
  margin: 2rem auto;
  border-radius: 2rem;
  position: relative;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
}
.viewOrder__productImg {
  width: 15rem;
  margin-left: 1.5rem;
}
.viewOrder__productInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "HelveticaNeue";
}
.productInfo__heading,
.productInfo__text {
  margin: 0;
  margin-top: 0rem;
  font-size: 1rem;
}
.productInfo__text {
  width: 20rem;
  margin-bottom: 2rem;
}
.productInfo__heading {
  font-size: 1.5rem;
  width: 90%;
}
.productInfo__price {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  font-size: 2rem;
  font-weight: bold;
}
.viewOrder__productCounter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translate(-50%, -50%);
}
.productCounter__minusBtn *,
.productCounter__plusBtn * {
  display: inline-block;
  height: 5rem;
}
.productCounter__minusBtn,
.productCounter__plusBtn {
  outline: none;
  border: none;
  background-color: #ffbb29;
  border-radius: 50%;
  font-size: 1.9rem;
  padding: 0.1rem 0.65rem;
  display: inline-block;
}
.minusText {
  height: 2.5rem;
}
.productCounter__productCount {
  font-size: 2.25rem;
}

.productCounter__minusBtn {
  margin-right: 2rem;
  padding: 0rem 0.9rem;
}
.productCounter__plusBtn {
  margin-left: 2rem;
}
.viewOrder__editBtn {
  position: absolute;
  top: 50%;
  left: 0;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  background-color: #ffbb29;
  border-radius: 50%;
}
.viewOrderButtons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cancelOrderPopup {
  font-family: "Helvetica";
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40rem;
  height: 20rem;
  border-radius: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cancelOrderPopup__text {
  font-size: 2rem;
}
.cancelOrderPopup__Buttons {
  display: flex;
  border-radius: 3rem;
}
.buttons__yes,
.buttons__no {
  margin-top: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 3rem;
  padding: 0.3rem 4rem;
  background-color: #fff;
  font-family: "HelveticaBold";
}
.buttons__no {
  margin-left: 1rem;
  padding: 0.3rem 4.5rem;
  background-color: #f1bc00;
  border: none;
}

/*? Deals Start */
.dealBoxes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4rem;
}
.dealBoxes a {
  text-decoration: none;
  color: #000;
}
.dealBox__heading {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 3rem;
  font-family: "DINCondensedBold";
  font-weight: bold;
  padding-left: 1.5rem;
  line-height: 2.75rem;
}
.dealBox {
  background-color: #f1bc00;
  border-radius: 3rem;
  width: 18rem;
  display: flex;
  margin-right: 3.5rem;
  margin-top: -0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 5px 5px 15px rgba(36, 65, 93, 0.3);
  padding: 0.5rem 0;
}
.dealBox__list {
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  line-height: 1.75rem;
}
.dealBox__list__listItem {
  font-family: "Helvetica";
  font-size: 1.75rem;
}
